
// Cart Mobile Styles
.cart {
    margin: 25px 2rem;
}

.cart h1, .cart .cart--empty {
    padding: 15px 25px;
}

.cart--cart-line-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

.cart--cart-line-item div {
    padding: 25px;
}

.cart--item-details {
    display: flex;
    flex-direction: column;
}

.cart--quantity-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: center;
}

.cart--quantity-wrapper input {
    margin: 0 25px;
}

.cart--quantity-wrapper h6 {
    padding: 25px;
}

.cart--cart-line-item, .cart--info {
    border-top: 1px solid lightgray;
}

.cart--info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

//@TODO style upsell area

// Desktop Styles
@media screen and (min-width: $break-at) {

    
    // Cart Desktop Styles
    .cart--cart-line-item {
        flex-direction: row;
    }
  
    
    .cart--quantity-wrapper {
        flex-direction: row;
        
    }

    .cart--info {
        align-items: flex-end;
        flex-direction: column;
    }

    


}