.index--hero-wrapper {
    width: 100%;
    position: relative;
    height: auto;
}

.index--hero-wrapper a {
width: 100%;

}

.index--hero-wrapper a img {
width: 100%;
height: 100%;
display: block;
}

.index--hero-title-wrapper {
position: absolute;
top: 50%;
left: 75%;
}