
html {
  color: $bg_color;
  height: 100%;
}

// Base Styles
body {
  margin: 0;
  font-family: $baseFontStack;
  display: grid;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

