{% schema %}
{
    "name": "Featured products",
    "settings": [
        {
            "id": "title",
            "type": "text",
            "label": "Section Title",
            "info": "Defaults to collection title."
        },
        {
            "id": "collection",
            "type": "collection",
            "label": "Collection"
        }
    ],
    "presets": [
        {
            "name": "Featured products",
            "category": "Features"
        }
    ]
}
{% endschema %}

{%- assign collection = collections[section.settings.collection] -%}
<section class="index--featured-products">
    <h2>{{ section.settings.title | default: collection.title | escape }}</h2>
    <div class="index--featured-product-flex-wrapper">
        {%- for product in collection.products limit: 4 -%}
            {% include 'product' with product %}        
        {%- endfor -%}
    </div>
</section>